<div>
  <h1>U.S. Public Elementary/Secondary Schools</h1>
  <span>Click a state to learn more!</span>
</div>

<div id="tooltip"></div>
<svg width="960" height="600" id="statesvg"></svg>

<div>
  <p>Data Source: <a href="https://nces.ed.gov/ccd/pubschuniv.asp">National Center
  for Education Statistics Common Core of Data Public Elementary/Secondary
  School Universe Survey: School Year 2012-13, Provisional Version 1a</a>.
  </p>
</div>
